<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"><i>Order List</i></h2>
        </div> 
    </div>
    <br /><br />

    <table id="tblData" class="table table-bordered table-striped text-center" style="width:100%;background-image:linear-gradient(grey,lightblue)">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                @*<th>Phone Number</th>*@
                <th>Email</th>
                @*<th>Status</th>*@
                @*<th>Total</th>*@
                <th></th>
            </tr>
        </thead>
    </table>
</div>


<script type="text/javascript" src="~/js/order.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>